* {
  margin: 0;
  padding: 0;
}
.App {
  height: 100%;
  width: 100%;
  max-width: 1140px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  align-content: center;
}
.main {
  margin-top: 10em;
  padding: 0 5em;
}
@media screen and (max-width: 768px) {
  .main {
    padding: 0 1.5em;
  }
}